.hover-card {
  transition: transform 0.2s, box-shadow 0.2s;
}
.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card-img-top {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

textarea, input, select {
  border-radius: 10px !important;
}
